/* @tailwind base;
@tailwind components;
@tailwind utilities; */


html,body{
    overflow-x: hidden;
}

.homepage_bg{
    background: url("../src//assets/Images/bghome.svg");
}

.gradient_bg{
    background: radial-gradient(circle, rgba(156,236,251,1) 0%, rgba(101,199,247,1) 50%, rgba(0,82,212,1) 100%);
}

.form-style {
    @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
  }

  .lable-style {
    @apply text-[14px] text-richblack-5;
  }

  .yellowButton {
    @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
  }


  .blackButton {
    @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
  }